/*universal page layout for home, about, work, and contact css*/
body{
    background-color: rgba(8, 8, 8, 0.938);
}


.header{
    padding: 2px 2px;
    background: rgb(17, 13, 13);
    display: inline-block;
    width: 98%;
    height: 75px;
    border-style: solid;
    border-color: rgb(9, 40, 49);
}

.content{
    padding: 20px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top: 100px;
}

h1{
    color: rgb(141, 146, 92);
    width: 200px;
    display: inline-flexbox;
    float: left;
    padding: 0% 5%;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
}

h2{
    display: inline-flexbox;
    float: right;
    border-style: dotted;
    margin-right: 20px;
    padding: 5px;
    color: rgb(122, 131, 96);
    padding-inline: 50px;
}

section{
    padding: px 100px;
    background-color: rgba(119, 124, 104, 0.459);
    height: 900px;
    width: 700px;
    margin: 5% 25%;
}

p{
    color: #7c815d;
    background-color: rgb(19, 19, 27);
    padding: px;
    text-align: center;
    font-size: 600%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    border-style: inset;
    border-color: rgb(107, 124, 46);
}

footer{
    display: flex;
    background-color: rgba(52, 54, 54, 0.397);
    height: 1in;
    width: 100%;
    color: rgb(215, 212, 28);
    justify-content: center;
    align-items: center;
    font-size: 30px;
}


/*universal page layout for home, about, work, and contact css end*/


/*home page specific css*/
.home-pic{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
}
/*home page specific css end*/


/*about page css*/
.block1{
    float: right;
    margin-top: -100%;
    margin-right: -60%;
}

.block2{
    float: left;
    margin-top: -100%;
    margin-left: -50%;
}
/*about page css end*/


/*work page specific css*/
text{
    color: rgb(8, 6, 6);
    font-size: 50px;
}
/*work page specific css end*/


/*contact page specific css*/
.button{
    display: flex;
    justify-content: center;
    padding: 5%;
}

.grid-container{
    display: flex;
    justify-content: center;
    color: rgb(164, 186, 74);
}
/*contact page css end*/


/*form submitted page css*/
.button2{
    display: flex;
    justify-content: center;
}

.form-submitted{
    color: aliceblue;
    display: flex;
    padding: 20%;
    justify-content: center;
    font-size: 500%;
}
/*form submitted page css end*/